.main{
  background-color: blueviolet;
  align-items: center;
  flex-direction: column;
  display: flex;
  h1{
    font-size: 60px;
  }
}

.inhoud{
  width: 50%;
  text-align: center;
  font-size: 25px;
}